!*.java
*.class
/.classpath
/.project
*/.classpath
*/.project
/.vscode/
.settings/
.gitignore
/.idea
.gradle
*.iml

XyCloud-TestProducer/.settings/
XyCloud-TestProducer/bin/
XyCloud-TestProducer/build/

XyCloud-config/.settings/
XyCloud-config/build/
XyCloud-config/bin/

XyCloud-eureka-server/.settings/
XyCloud-eureka-server/build/
XyCloud-eureka-server/bin/

XyCloud-model/.settings/
XyCloud-model/bin/

XyCloud-Gateway/.settings
XyCloud-Gateway/gradle/
XyCloud-Gateway/build/
XyCloud-Gateway/bin/
