!*.java
*.class
/.classpath
/.project
.settings/org.eclipse.buildship.core.prefs
.gitignore
.gradle
XyCloud-TestProducer/.classpath
XyCloud-TestProducer/.project
XyCloud-TestProducer/.settings/org.eclipse.buildship.core.prefs
XyCloud-config/.classpath
XyCloud-config/.project
XyCloud-config/.settings/org.eclipse.buildship.core.prefs
XyCloud-eureka-server/.classpath
XyCloud-eureka-server/.project
XyCloud-eureka-server/.settings/org.eclipse.buildship.core.prefs
XyCloud-model/.classpath
XyCloud-model/.project
XyCloud-model/.settings/org.eclipse.buildship.core.prefs
.vscode/settings.json
XyCloud-config/bin/main/xyz/xy718/config/XyCloudConfigApplication.class
XyCloud-Gateway/.classpath
XyCloud-Gateway/.project
XyCloud-Gateway/.settings
XyCloud-Gateway/gradle/
/.vscode/
